@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-cyberpunk {
    @apply relative text-black font-bold px-6 py-2 rounded-md bg-white border-2 border-transparent transition-all duration-300 
           hover:text-white hover:bg-black hover:shadow-neon before:absolute before:inset-0 before:rounded-md 
           before:bg-gradient-cyberpunk before:blur-[8px] before:opacity-0 hover:before:opacity-100 
           before:-z-10 before:transition-all before:duration-300;
  }
}

@layer components {
  .gradient-text-hover {
    @apply transition-all duration-300 hover:text-transparent hover:bg-gradient-cyberpunk hover:bg-clip-text;
  }
}
